#Header-FR{
    font-size: x-large;
    margin-top: 3%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: center;
}

#FR{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #ffffff;
    border-radius: 5mm;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
}

#List{
    margin-bottom: 0%
}


#Input{
    box-shadow: 1px 1px 0.5px 0.5px rgba(153, 151, 151, 0.2);
    background-color: #fbfbfb;
    border-radius: 1mm;
    /* background-color: rgb(246, 249, 250); */
}

#Password{
    background-color: #fbfbfb;
}

#List-db{
    margin-bottom: 2%;
}

#request-mask{
    padding-left: 5%;
    color: #ff3b18;
    font-size:medium;
}
