#header-frist {
    height: auto;
    padding: 0 10%;
    color: rgba(255, 255, 255, 0.85);
    line-height: 64px;
    background: #001529;
  }

#col-Headder-center{
    justify-content: center;
    display: flex;
    align-items: center;
}

#col-Headder-center2{
  display: flex;
  align-items: center;
}

#col-Headder-center4{
  display: flex;
  align-items: center;
  padding-left: 4%;
}

#col-Headder-center3{
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

#header-frist2 {
    height: auto;
    padding: 0 10%;
    color: rgba(110, 109, 109, 0.85);
    line-height: 45px;
    background: #ffffff;
    
  }

#header-frist-mobile{
  display: flex;
  justify-content: center;
}

  #nav-Header{
    color: rgba(110, 109, 109, 0.85);
    /* font-weight: bold; */
    padding-left: 5%;
    padding-right: 5%;
    /* padding-top: 0.8%; */
}

.ant-layout-header .ant-menu {
  line-height: 35px;
  color: rgba(110, 109, 109, 0.85);
}

#sub-icon-profile{
  color: rgba(110, 109, 109, 0.85);
  margin-left: 2%;
  margin-right: 2%;
}

#img-profile{
  background-color: aliceblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#img-profile-avatar{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  margin: 0 0px;
}

.ant-menu-horizontal {
  border-bottom: 0px solid #f0f0f0;
}

.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
  color: #DA213D;
}

#icon-search {
  font-size: 160%;
  /* background-color: #DA213D; */
  margin: 1.5%;
  border-radius: 10%;
  padding: 1%;
  position: absolute;
  right: 0;
  z-index: 200;
  color: aliceblue;
}

@media screen and (min-width: 601px) {
  #header-frist2 {
    font-size: 22px;
  }
  #nav-Header{
    font-size: 22px;
  }
  .ant-layout-header .ant-menu {
    font-size: 22px;
  }
  #sub-icon-profile{
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
  }
}
  
@media screen and (max-width: 1025px) {
  #header-frist2 {
    font-size: 16px;
  }
  #nav-Header{
    font-size: 16px;
  }
  .ant-layout-header .ant-menu {
    font-size: 16px;
  }
  #sub-icon-profile{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
  }
}

@media screen and (max-width: 769px) {
  #header-frist2 {
    font-size: 12px;
  }
  #nav-Header{
    font-size: 12px;
  }
  .ant-layout-header .ant-menu {
    font-size: 12px;
  }
  #sub-icon-profile{
    font-size: 12px;
    font-family: 'Kanit', sans-serif;
  }
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: rgba(110, 109, 109, 0.85);
  border-bottom: 0px solid #1890ff;
}

.ant-menu-submenu-selected {
  color: #DA213D;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not( .ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color:#DA213D;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}