#home {
  padding: 0% 0% 0% 0%;
}

#col-img-head1{
  /* background-color: darkgoldenrod; */
  height: fit-content;
  /* height: auto; */
  /* margin-top: 2%; */
  
}

#col-img-head2{
  /* margin-top: 2%; */
  height: fit-content;
  /* margin-left: 1%; */
}

#row-col-img-head2{
  background-color: darkgoldenrod;
  /* height: 200px; */
  /* border-bottom: 8px solid white; */
}

#row-col-img-head3{
  background-color: darkgoldenrod;
  /* height: 200px; */
}

#hade-standate{
  padding: 0 10%;
  margin: 2%;
  justify-content: center;
}

#standate{
  font-size: x-large;
}

#img-standate{
  padding: 0 2%;
}

#row-pay{
  padding: 0 10%;
  margin-bottom: 3%;
}

#head-card{
  text-align: center;
}

#row-spin {
  display: flex;
  justify-content: center;
}