#home {
  padding: 2% 9.5% 0% 9.5%;
  justify-content: space-between;
}

#col-img-head1{
  /* background-color: darkgoldenrod; */
  height: fit-content;
  justify-content: space-between;
  padding-left: 0.5%;
  padding-right: 0.5%;
  /* height: auto; */
  /* margin-top: 2%; */
  
}

#col-img-head2{
  /* margin-top: 2%; */
  height: fit-content;
  justify-content: space-between;
  padding-left: 0.5%;
  padding-right: 0.5%;
  /* margin-left: 1%; */
}

/* #row-col-img-head2{
  padding-left: 1%;
  padding-right: 1%;
} */

#row-col-img-head3{
  padding-top: 2%;
  /* padding-left: 1%;
  padding-right: 1%; */
  /* padding-top: 0.4%; */
}

#hade-standate{
  padding: 0 10%;
  margin: 2%;
  justify-content: center;
}

#standate{
  font-size: x-large;
}

#img-standate{
  padding: 0 2%;
}

#row-pay{
  padding: 0 10%;
  margin-bottom: 3%;
}

#head-card{
  text-align: center;
}

#row-spin {
  display: flex;
  justify-content: center;
}