#Header{
    font-size: x-large;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: center;
}

#Row{
    display: flex;
    justify-content: center;
}

#List{
    margin-bottom: 0%
}

#request-mask{
    padding-left: 5%;
    color: #ff3b18;
    font-size:medium;
}

#Login{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #ffffff;
    border-radius: 5mm;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
}

#Input{
    box-shadow: 1px 1px 0.5px 0.5px rgba(153, 151, 151, 0.2);
    background-color: #fbfbfb;
    border-radius: 1mm;
    /* background-color: rgb(246, 249, 250); */
    
}

.ant-input-affix-wrapper {
    box-shadow: 1px 1px 0.5px 0.5px rgba(153, 151, 151, 0.2);
    background-color: #fbfbfb;
    border-radius: 1mm;
}

#Button-submit{
    display: flex;
    justify-content: center;
    background-color: #fc1702;
    width: fit-content;
    border: 0mm;
    border-radius: 1mm;
}

.ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    background-color: #fbfbfb;
    border-color: #ff4d4f !important;
}