
#pageheader{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}

#Product-detail{
    padding: 0 5%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    border-radius: 2mm;
}

#Product-detail1{
    padding: 3% 4% 3% 4%;
    margin-top: 2%;
    margin-bottom: 6%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    border-radius: 2mm;
}

#Product-name{
    margin-left: 1%;
    margin-bottom: 1%;
    padding-top: 2%;
    font-size: 18px;
    font-weight: bold;
}

#Row-List{
    margin-bottom: 1%;
}

#Product-List{
    font-size: mediums;
    padding: 5%;
}

#detailname{
    margin-left: 1%;
    margin-bottom: 2%;
    color: #686868;
    font-size: 14px;
}

#color-product{
    color: #30D500;
}

#color-product1{
    color: #ff0404;
}

#color-product2{
    color: #4A85DE
}

.image-gallery-play-button {
    display: none;
}

.image-gallery-fullscreen-button {
    display: none;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 40px;
    width: 20px;
}

#img-showproduct{
    margin-bottom: 5%;
    margin-right: 4%;
}

#detail-size{
    color: #686868;
}

#detial{
    color: #686868;
}

#col-icon{
    margin-right: 3%;
}

#icon{
    display: flex;
    padding-top: 30%;
}

#dercript{
    font-size: 14px;
    font-weight: initial;
    line-height: 200%;
    margin-bottom: 7%;
    margin-top: 7%;
    width: 100%;
    border-top: 2px solid #DCDCDC;
    border-bottom: 2px solid #DCDCDC;
    padding: 5% 2% 5% 0%;   
}

#descript-Header{
    padding-bottom: 2%;
    font-size: large;
}

#descript-Header1{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: large;
}

#descrip-detail{
    padding-left: 3%;
}

#dercript-font
.ant-descriptions-bordered .ant-descriptions-item-label, .ant-descriptions-bordered .ant-descriptions-item-content {
    padding: none;
    border-right: 1px solid #f0f0f0;
}

.ant-descriptions-item-label {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bolder;
    font-size: 14px;
    line-height: 1.5715;
    text-align: start;
}

.ant-page-header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    /* padding: 16px 24px; */
    background-color: #F1F1F1;
    padding-left:  1%;
}

#level-price{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

#header-price {
    text-align: center;
    font-size: 130%;
}

#solid-col {
    border: 1px solid;
    background-color: #da213d;
    color: aliceblue;
    font-size: 120%;
}

#solid-col-detail {
    border-top: 1px solid;
    border-left: 1px solid;
}

#solid-col-detail-r {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

#solid-col-detail-b {
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

#solid-col-detail-e {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
#read{
    color: #686868;
}