#bg{
    background-color: #fbfbfb;
}
#Product{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ca2a2a;
}

#img-product {
    vertical-align: middle;
    border-style: none;
    border-radius: 0%;
    padding: 3%;
}
/* element.style {
    height: 10px;
    line-height: 10px;
    text-align: center;
    background: rgb(54, 77, 121);
    width: 100%;
} */

.ant-carousel .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}

#Rowgroup-product{
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    background-color: #da213d;
    color: #fbfbfb;
    /* font-size: 18px; */
    padding-left: 2%;
    padding-top: 0.5mm;
    padding-right: 00.5mm;
}

#List-all{
    justify-content: flex-end;
    display: flex;
    padding-right: 00.5mm;
}

#Row-Product{
    margin-left: 10%;
    margin-right: 10%;
}

#Row-Product-Search{
    font-size: 200%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.alice-carousel__dots {
    margin: 30px 3px 5px;
    padding: 0;
    list-style: none;
    text-align: center;
    display: none;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn {
    display: inline-block;
    box-sizing: border-box;
    width: -moz-fit-content;
    width: inherit;
    padding: 10px 5px;
    display: table-cell;
    justify-content: flex-end;
    /* justify-content: flex-end; */
}


#card-product{
    width: 210px;
    border-left: 0.3em solid #fbfbfb;
    border-right: 0.3em solid #fbfbfb;
}

#img-product{
    width: 100%;
    height: 100%;
    margin-right: 5%;
}

#text-detail{
    margin-bottom: 3%;
}

#textdescription{
    margin-bottom: 1%;
}

#description{
    margin-bottom: 1%;
}

#Col-product{
    margin-right: 5%;
}

.ant-card-body {
    padding: 10px;
}

#img-product-ipad{
    width: 100%;
    height: 100%;
    margin-right: 5%;
}

#card-product-ipad{
    width: 200px;
    height: 260px;   
}

.ant-tabs-ink-bar {
    position: absolute;
    background: #da213d;
    pointer-events: none;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #222222;
    font-weight: bold;
}

.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar {
    height: 3px;
}

.ant-tabs {
    color: #222222;
    font-weight: bold;
}

.ant-tabs-tab:hover {
    color: #da213d;
}

#container-productlist {
    padding: 1% 10%;
  }

#product-card-list-col {
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
}

#product-tab-headerbar-end {
    display: flex;
    justify-content: flex-end;
}

#product-footer-page {
    display: flex;
    justify-content: flex-end;
}

#product-footer-page-search {
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

#rowempty {
    display: flex;
    justify-content: center;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
    color: rgb(255 255 255 / 90%);
    background-color: #da213d;
}

@media screen and (max-width: 1300px) {
    #card-product{
        width: 210px;
        border-left: 0.3em solid #fbfbfb;
        border-right: 0.3em solid #fbfbfb;
    }
    
}

@media screen and (max-width: 1024px) {
    #card-product{
        width: 200px;
        border-left: 0.3em solid #fbfbfb;
        border-right: 0.3em solid #fbfbfb;
    }
}

@media screen and (max-width: 700px) {
    #card-product{
        width: 160px;
        border-left: 0.3em solid #fbfbfb;
        border-right: 0.3em solid #fbfbfb;
    }
}

@media screen and (max-width: 630px) {
    #card-product{
        width: 140px;
        border-left: 0.3em solid #fbfbfb;
        border-right: 0.3em solid #fbfbfb;
    }
    #textdescription{
        margin-bottom: 1%;
        font-size: 8px;
    }
    #description{
        margin-bottom: 1%;
        font-size: 2px;
    }
}

@media screen and (max-width: 550px) {
    #card-product{
        width: 120px;
        border-left: 0.3em solid #fbfbfb;
        border-right: 0.3em solid #fbfbfb;
    }
}
  
@media screen and (max-width: 400px) {
    #card-product{
        width: 135px;
        border-left: 0.3em solid #fbfbfb;
        border-right: 0.3em solid #fbfbfb;
    }
}

@media screen and (max-width: 320px) {
    #card-product{
        width: 115px;
        border-left: 0.3em solid #fbfbfb;
        border-right: 0.3em solid #fbfbfb;
    }
}

@media screen and (max-width: 300px) {
    #card-product{
        width: 105px;
        border-left: 0.3em solid #fbfbfb;
        border-right: 0.3em solid #fbfbfb;
    }
}