#Header{
    font-size: x-large;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    display: flex;
    justify-content: center;
}

#Profile{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #ffffff;
    border-radius: 5mm;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
}

#List{
    margin-bottom: 0%
}

#Input{
    box-shadow: 1px 1px 0.5px 0.5px rgba(153, 151, 151, 0.2);
    background-color: #fbfbfb;
    border-radius: 1mm;
    /* background-color: rgb(246, 249, 250); */
}

#request-mask{
    padding-left: 5%;
    color: #ff3b18;
    font-size:medium;
}

#Button-submit{
    display: flex;
    justify-content: center;
    background-color: #fc1702;
    width: fit-content;
    border: 0mm;
    border-radius: 1mm;
}

/* #label-img{
    border: 1mm #ff3b18;
    background-color: antiquewhite;
} */

.ant-upload-picture-card-wrapper{
    display: flex;
    justify-content: center;
    /* padding-bottom: 5%; */
}

#edit-button{
    display: flex;
    justify-content: center;
    color: #006592;
    cursor: pointer;
}

#displaycenter {
    width: 100%;
    display: flex;
}

#displaycenterspen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgprofile{
    background-color: aliceblue;
    border-radius: 50%;
    width: 100%;
    height: 102px;
  }

#divimgprofile{
    width: 102px;
    height: 102px;
    background-color: aliceblue;
    border-radius: 50%;
}

#cancelButtom{
    color: #fc1702;
}

.ant-upload-list-picture-card .ant-upload-list-item {
    height: 100%;
    margin: 0;
    display: none;
}

.ant-upload-list-picture-card-container {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin: 0 0px 0px 0;
    vertical-align: top;
}